In [2]:
import pandas as pd 

file_path = 'read_csv_sample.csv'
# 첫 번째 행을 컬럼 이름으로 사용
df1 = pd.read_csv(file_path) 
print(df1)
# 파일의 첫 번째 행을 데이터로 간주하고 자동으로 정수 인덱스를 컬럼 이름으로 할당
df2 = pd.read_csv(file_path, header=None) 
print(df2)
# 인덱스 컬럼을 명시적으로 지정하지 않음을 의미합니다. 이 경우 pandas는 자동으로 0부터 시작하는 정수 인덱스를 생성
df3 = pd.read_csv(file_path, index_col=None) 
print(df3)
# 지정된 컬럼('c1')을 DataFrame의 인덱스로 사용합니다. 이는 해당 컬럼의 값이 각 행의 고유 식별자 역할을 하게 됨
df4 = pd.read_csv(file_path, index_col='c1')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    c0  c2  c3
c1
1    0   4   7
2    1   5   8
3    2   6   9

In [3]:
import pandas as pd 

# header=0 옵션은 파일의 첫 번째 행을 데이터의 컬럼 이름으로 사용하라는 의미
df2 = pd.read_csv('mpg.csv', header=0)
print(df2)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

In [6]:
import csv
import pandas as pd 

dataCSV = pd.read_csv('data.csv')
print(dataCSV)

print()

# 파일을 "r"을 사용해 읽기모드로 읽음
f = open("data.csv", "r")
# csv.reader는 파일의 각 행을 콤마(,)로 구분된 값들의 리스트로 변환하여 반환
reader = csv.reader(f)
for row in reader:
    print(row)

   id       name  price   amount
0   1      apple    5000       5
1   2     pencil     500      42
2   3  pineapple    8000       5
3   4        pen    1500      10

['\ufeffid', 'name', 'price ', 'amount']
['1', 'apple', '5000', '5']
['2', 'pencil', '500', '42']
['3', 'pineapple', '8000', '5']
['4', 'pen', '1500', '10']

In [7]:
import pandas as pd
data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
'algol' : [ "A", "A+", "B"],
'basic' : [ "C", "B", "B+"],
'c++' : [ "B+", "C", "C+"]}
df = pd.DataFrame(data)
# DataFrame의 인덱스를 name 컬럼으로 설정, inplace=True는 변경 사항을 원본 DataFrame에 바로 적용하라는 의미
df.set_index('name', inplace=True) 
print(df)
df.to_csv("df_sample.csv")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [8]:
# 위에꺼 또 다른 예시
import pandas as pd
data = {'name': ['Minsu', 'Juhee', 'Sujin'],
        'age': ["20", "25", "28"],
        'height': ["180", "150", "170"],
        'weight': ["80", "45", "55"]}
df2 = pd.DataFrame(data)
df2.set_index('name', inplace=True)
print(df2)
df2.to_csv("df_sample2.csv")

      age height weight
name
Minsu  20    180     80
Juhee  25    150     45
Sujin  28    170     55

In [9]:
import csv
# test.csv 파일을 쓰기 모드('w')로 열고, UTF-8 인코딩을 사용
# newline=''은 파일에 데이터를 쓸 때 입력된 데이터 사이에 자동으로 추가되는 줄바꿈을 방지하는 옵션
with open('test.csv', 'w', encoding='utf-8', newline='') as writer_csv:
    # 열린 파일에 대해 CSV 작성자(writer) 객체를 생성
    # delimiter=','는 필드 사이를 구분하는 데 사용되는 문자로 콤마(,)를 지정
    writer = csv.writer(writer_csv, delimiter=',')
    writer.writerow(['dave', 'david'])
    writer.writerow(['apple', 2])
    writer.writerow(['korea', 'japan', 'china'])
    
# write한 test.csv 읽기
with open('test.csv', 'r', encoding='utf-8') as reader_csv:
    reader = csv.reader(reader_csv, delimiter=',')
    
    for row in reader:
        print(row)

['dave', 'david']
['apple', '2']
['korea', 'japan', 'china']

In [10]:
import pandas as pd 
file_path1 = 'read_tsv_sample1.tsv'
file_path2 = 'read_tsv_sample2.tsv'
df1 = pd.read_csv(file_path1, sep = '\t')  #열려는 파일이 tsv 파일인 경우
print(df1)
df2 = pd.read_csv(file_path2, sep = ' ') # 공백을 기준으로 내용이 구분된 txt파일 인 경우
print(df2)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [11]:

data = {'Name' : ['John Doe' , 'Jane Smith'] ,
         'Age' : [25, 30] ,
         'Country' : ['USA' , 'Canada']}
df = pd.DataFrame(data)
df.to_csv('output.tsv',sep='\t',index=False)

In [12]:
import pandas as pd
df1 = pd.read_excel('남북한발전전력량.xlsx')
df2 = pd.read_excel('남북한발전전력량.xlsx', header=None)
print(df1)
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [13]:
import pandas as pd

data = {'name' : [ 'Jerry', 'Riah', 'Paul'],
        'algol' : [ "A", "A+", "B"],
        'basic' : [ "C", "B", "B+"],
        'c++' : [ "B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df.set_index('name', inplace=True)
print(df)
# .xlsx 파일은 사실상 압축된 ZIP 파일, 내부적으로는 XML 형식을 사용하여 데이터를 저장
df.to_excel("df_sample.xlsx")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [14]:
import pandas as pd

data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'], 'algol' : [ "A", "A+", "B"], 
          'basic' : [ "C", "B", "B+"], 'c++' : [ "B+", "C", "C+"]}
data2 = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# inplace=True는 변경 사항을 원본 DataFrame에 바로 적용하라는 의미
df1 = pd.DataFrame(data1)
df1.set_index('name', inplace=True) 

df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace=True)

# 엑셀 파일에 쓰기
writer = pd.ExcelWriter("df_excelwriter.xlsx")
df1.to_excel(writer, sheet_name="sheet1")
df2.to_excel(writer, sheet_name="sheet2")
writer.close()

In [15]:
import pandas as pd

url ='sample.html'
tables = pd.read_html(url)
print(len(tables))

for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])
    print('\n')

df = tables[1] 

df.set_index(['name'], inplace=True)
print(df)

2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [16]:
import pandas as pd
df1 = pd.read_json('test.json')
print(df1)

        apple  banana
price    2000    4000
weight     50      70

In [23]:
import json
# with open('test.json', 'r') as f: 'test.json' 파일을 읽기 모드('r')로 열고,
# 이 파일 객체를 f로 지정
# with 구문은 파일 작업을 마친 후 자동으로 파일을 닫아주는 컨텍스트 매니저 역할
with open('test2.json', 'r') as f:
    # 열린 JSON 파일에서 데이터를 읽어 파이썬 객체로 변환
    # 이 경우, json_data는 JSON 파일의 내용을 담고 있는 파이썬 딕셔너리가 됨
    json_data = json.load(f)
# json.dumps 함수는 파이썬 객체(json_data)를 JSON 형식의 문자열로 변환하여 출력
print(json.dumps(json_data))

# key값으로 value 찾기
apple_price = json_data['apple']['price']
print(apple_price)

# key값으로 value 수정
json_data['apple']['price'] = "7000"
print(json_data['apple']['price'])

{"apple": {"price": "2000", "weight": "50"}, "banana": {"price": "4000", "weight": "70"}}
2000
7000

In [21]:
# dict -> json 테스트 1
import json

car_group = dict()

k5 = dict()
k5["price"] = "5000"
k5["year"] = "2015"
car_group["K5"] = k5

avante = dict()
avante["price"] = "3000"
avante["year"] = "2014"
car_group["Avante"] = avante
print(car_group)

# car_group 딕셔너리를 JSON 형식으로 make_file 파일에 직렬화
# indent="\t"는 JSON 데이터를 보기 좋게 탭으로 들여쓰기하여 저장
with open('test.json', 'w', encoding='utf-8') as make_file:
    json.dump(car_group, make_file, indent="\t")
    
with open('test.json', 'r') as f:
    json_data = json.load(f)
# json_data 객체를 다시 JSON 형식의 문자열로 변환하여 탭으로 들여쓰기된 형태로 출력
print(json.dumps(json_data, indent="\t") )

{'K5': {'price': '5000', 'year': '2015'}, 'Avante': {'price': '3000', 'year': '2014'}}
{
	"K5": {
		"price": "5000",
		"year": "2015"
	},
	"Avante": {
		"price": "3000",
		"year": "2014"
	}
}

In [22]:
# dict -> json 테스트 2
import json
fruit_group = dict()

apple = dict()
apple['price'] = '2000'
apple['weight'] = '50'
fruit_group['apple'] = apple

banana = dict()
banana['price'] = '4000'
banana['weight'] = '70'
fruit_group['banana'] = banana

with open('test2.json', 'w', encoding='utf-8') as make_file:
    json.dump(fruit_group, make_file, indent='\t')
    
with open('test2.json', 'r') as f:
    json_data = json.load(f)
print(json.dumps(json_data, indent="\t") )

{
	"apple": {
		"price": "2000",
		"weight": "50"
	},
	"banana": {
		"price": "4000",
		"weight": "70"
	}
}

In [33]:
# XML 데이터를 처리하기 위한 Python의 표준 라이브러리
import xml.etree.ElementTree as ET
xml_path = "library.xml"
# 수정할 xml읽기
with open(xml_path) as f:
    # ET.parse(f) 함수는 파일 객체 f에서 XML 데이터를 읽고, 이를 ElementTree 객체로 파싱
    # ElementTree 객체는 전체 XML 문서를 나타내며, 이 객체를 통해 문서의 다양한 부분에 접근하고 조작할 수 있다.
    tree = ET.parse(f)
    # 파싱된 XML 트리(tree)에서 루트 요소를 추출
    # 이 root 객체를 사용하여 XML 문서의 다른 요소에 접근하거나, 문서의 구조를 탐색할 수 있다.
    root = tree.getroot()
    
    
# 각 'book' 요소의 'price' 요소의 값을 10배 증가
tag = 'book'
for child in root.iter(tag):
    price_element = child.find('price')  # 'price' 요소 찾기
    if price_element is not None:
        original_price = float(price_element.text)  # 원래 가격 읽기
        new_price = 10 * original_price  # 가격 10배로 증가
        price_element.text = str(new_price)  # 새 가격으로 업데이트
        print(child.find('title').text, price_element.text)  # 새 가격 출력
    
# 수정된 사항 library.xml에 반영하기

# XML 파일을 저장할 경로와 파일 이름을 지정
xml_save_path = "library.xml"
# 지정된 경로에 파일을 바이너리 쓰기 모드("wb")로 연다.
# XML 파일을 쓸 때는 바이너리 모드를 사용하는 것이 일반적이고, 이렇게 하면 인코딩 문제를 피할 수 있다.
with open(xml_save_path, "wb") as file:
    # encoding='utf-8': 파일의 문자 인코딩을 UTF-8로 지정
    # xml_declaration=True : XML 선언(<?xml version="1.0" encoding="UTF-8"?>)을 파일의 맨 위에 추가
    tree.write(file, encoding='utf-8', xml_declaration=True)

The Great Gatsby 200.0
To Kill a Mockingbird 150.0
1984 180.0